* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
}

.shape {
  /* margin: 300px auto; */
  /* position: relative; */
  position: fixed;
  margin: 40vh 42%;
  /* margin: auto; */
  /* position: fixed; */
}

#shape {
  outline: none;
}
/* 
body {
  margin: auto 45%;
} */

#btn-submit {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(34, 34, 34, 0.63);
  color: #fff;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  border: none;
  cursor: pointer;
  padding: 20px 80px;
  border-radius: 30px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  margin: 20px;
}

#btn-submit:hover {
  background: #01312e;
  transform: scale(1);
  -webkit-transform: scale(1);
  box-shadow: none;
}

.Button {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  margin: 0 0 0 100px;
}

.Button {
  border-radius: 4px;
  background-color: #d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.Button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.Button:hover span {
  padding-right: 25px;
  /* background: #01312e; */
}

.Button:hover span:after {
  opacity: 1;
  right: 0;
}

button {
  display: block;
  margin: auto;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: red;
}

.square {
  height: 250px;
  width: 250px;
  background-color: lightblue;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid lightgreen;
}

.triangle-sided {
  height: 0;
  width: 0;
  border-top: 150px solid lightgray;
  border-right: 150px solid transparent;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: lightpink;
}

.oval {
  width: 200px;
  height: 100px;
  border-radius: 50%;
  background-color: lightseagreen;
}

.diamond-square {
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #00e0d7;
}

.pentagon {
  position: relative;
  width: 64px;
  box-sizing: content-box;
  border-width: 60px 28px 0;
  border-style: solid;
  border-color: blue transparent;
}

.pentagon::after {
  content: '';
  position: relative;
  height: 0;
  width: 0;
  top: -121px;
  left: -28px;
  border-width: 0 60px 45px;
  border-style: solid;
  border-color: transparent transparent blue;
}

.hexagon {
  width: 100px;
  height: 55px;
  background: salmon;
  position: relative;
}

.hexagon::before {
  content: '';
  position: relative;
  top: -42px;
  width: 0;
  left: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}

.hexagon::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}

.jajar-genjang {
  height: 200px;
  width: 400px;
  background-color: aqua;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}

.trapesium {
  width: 100px;
  height: 0;
  border-bottom: 100px solid rgb(224, 224, 53);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.cone {
  width: 0;
  height: 0;
  border-top: 100px solid rgb(224, 53, 104);
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50px;
  border-radius: 50%;
}

.heart {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background-color: red;
}

.heart::before {
  position: absolute;
  content: '';
  background-color: red;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
  -webkit-border-radius: 75px 75px 0 0;
}

.heart::after {
  position: absolute;
  content: '';
  background-color: red;
  height: 60%;
  width: 100%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  top: 20%;
  right: 79%;
  border-radius: 75px 75px 0 0;
}

.title {
  text-align: center;
}

.big-container {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(161, 196, 202);
  padding: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  padding: 32px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(0, 0, 0, 0.1) inset;
}

.input-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 8px;
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: none !important;
  outline: 0;
}

/* counter */
.counter-container {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.2s ease-out;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -webkit-animation: hide 0.2s ease-out;
  -o-animation: hide 0.2s ease-out;
  -moz-animation: hide 0.2s ease-out;
}

@-webkit-keyframes hide {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
}

.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show 0.3s ease-in;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -webkit-animation: show 0.3s ease-in;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
  }

  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
  }
}

.nums {
  color: #3498db;
  position: relative;
  margin: auto;
  font-size: 50px;
  overflow: hidden;
  -webkit-overflow: hidden;
  width: 250px;
  height: 50px;
}

.nums span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  -webkit-transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation: goIn 0.5s ease-in-out;
}

.nums span.out {
  -webkit-animation: goOut 0.5s ease-in-out;
  animation: goOut 0.5s ease-in-out;
}

@-webkit-keyframes goIn {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
  }

  90%,
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
}

@-webkit-keyframes goOut {
  0%,
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    -webkit-transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-120deg);
  }
}

h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
}

#hasil {
  display: none;
}
.nama {
  display: block;
  text-align: left;
  /* color: #3599ff;
  font-size: 0.875em; */
}

.input-container form .text-input {
  overflow: hidden;
  margin-bottom: 0.875em;
}

.input-container form input[type='text'] {
  width: 100%;
  padding-left: 0;
  background: none;
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
  /*Some sibling magic happens */
}
.input-container form input[type='text']:focus + .separator {
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}

.separator {
  height: 3px;
  width: 100%;
  background: #68b3ff;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  -webkit-transform: scaleX(0) translateY(-2px);
  -webkit-transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

#form-awal button[type='button'],
#form-hasil button[type='submit'] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(161, 196, 202);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form-awal button[type='button']:hover,
#form-hasil button[type='submit']:hover {
  background: rgb(69, 108, 116);
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#fotm-awal button[type='button']:active,
#form-hasil button[type='submit']:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* radio button */
input[type='radio'] {
  margin-left: 7px;
  margin-bottom: 10px;
  border: 0px;
  width: 1.3em;
  height: 1.3em;
}
